@use './util' as u;

@font-face {
  font-family: 'Figtree';
  src: url('../../assets/fonts/Figtree-VariableFont_wght.ttf')
    format('truetype');
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(0, 0%, 42%);
  --dark-grey: hsl(0, 0%, 7%);

  --ff-figtree: 'Figtree', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 156px 24px;
  background: var(--yellow);
  font-family: var(--ff-figtree);
  font-weight: 500;
  color: var(--dark-grey);
}

.card {
  width: 100%;
  max-width: 327px;
  padding: 23px;
  background: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 20px;
  box-shadow: 8px 8px 0 var(--dark-grey);

  &__image {
    height: 200px;
    margin-bottom: u.rem(24);
    object-fit: cover;
    border-radius: 10px;
  }

  &__tag {
    width: fit-content;
    padding: 7px 12px;
    margin-bottom: u.rem(12);
    background: var(--yellow);
    border-radius: 4px;
    font-size: u.rem(12);
    font-weight: 900;
    line-height: 1;
  }

  &__date {
    margin-bottom: u.rem(11);
    font-size: u.rem(13);
  }

  &__title {
    margin-bottom: u.rem(12);
    font-size: u.rem(20);
    font-weight: 900;
  }

  &__description {
    margin-bottom: u.rem(24);
    font-size: u.rem(14);
    color: var(--light-grey);
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;

  &__avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    font-size: u.rem(15);
    font-weight: 900;
  }
}
